
{% if message %}
<h4>{{message}}</h4>
{%endif%}

{%if albums %}
<h2>Here are your albums</h2>
    <ul>
      {% for album in albums %}
        <li><a href='/upload/{{album[0]}}'>{{album[0]}}</a></li>
      {% endfor %}
    </ul>
{%else%}
<h2>You haven't created any albums yet!</h2>
{%endif%}

{% if tags %}
<h2>here are your tags</h2>
<ul>
  {% for tag in tags %}
    <li><a href='/tags/{{tag[0]}}/default'>{{tag[0]}}</a></li>
  {% endfor %}
</ul>
{% else %}
<h3>you don't have any tagged photos yet</h3>

{%endif%}

<a href='/tags/mostpopular'>view most popular tags</a></h3>

<head>
    <h3>Create an Album</h3>
    <body>
            <form method="post" enctype="multipart/form-data" action="/album">
                <label for="album">Enter album name:</label>
                <input type="text" name="album" required='true' /><br /> <br />
                <label for="date">Enter date:</label> 
                <input type="text" name="date" required='true' />
                <input type="submit" value="Submit" /> <br />
            </form>
    </body>

    <h3>Delete an Album</h3>
    <body>
      <form method="post" enctype="multipart/form-data" action="/album">
        <label for="album">Enter the name of the album you want to delete:</label>
        <input type="text" name="album_to_delete" required='true' />
        <input type="submit" value="Submit" /> <br />
      </form>
    </body>

    <a href='/profile'>Back to Profile</a></li>

</head>