<!-- author ben lawson (balawson@bu.edu) -->
{% if message %}
<h4>{{message}}</h4>
{%endif%}

{% if photos %}
<h2>Find your friends</h2>
<ul>
    {% for photo in photos %}

    <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' />
    </li>
    {% endfor %}

</ul>
{% endif %}

{%if friends %}
<h2>Here are your friends</h2>
<ul>
    {% for friend in friends %}
    <li>{{friends[0]}}</li>
    {% endfor %}
</ul>
{%else%}
<h2>You don't have any friends yet!</h2>
{%endif%}

<head>
    <title>Search for friends</title>
</head>

<h3>Search for Friends</h3>

<body>
    <form method="post" enctype="multipart/form-data" action="/friends">
        <label for="search">search for friends:</label>
        <input type="text" name="search_friends" required='true' />
        <input type="submit" value="Submit" /> <br />
    </form>
</body>