<!-- author ben lawson (balawson@bu.edu) -->

{% if message %}
<h2>{{message}}</h2>
{% endif %}

<head>
    <title>{{album_name}} Album </title>
    <body>
        <div class="title">
            <h2>Upload A Photo</h2>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload/{{album_name}}">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption"/><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
</head>


{% if photos %}
<h1>Here are your photos in {{album_name}}</h1>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}'/></li>
        <form method="post" enctype="multipart/form-data" action="/upload/delete/{{photo[1]}}/{{album_name}}">
        <input type="submit" value="Delete Photo"/> <br />
        </form>
        
        <form method="post" enctype="multipart/form-data" action="/upload/addtag/{{photo[1]}}/{{album_name}}">
        <label for="tags">Enter one photo tag:</label>
        <input type="text" name="tag" required='true'/>
        <input type="submit" value="Add tag"/> 
        </form>
    {% endfor %}
    
    </ul>
{% else %}
<h2>You do not have any photos in this album yet. </h2>
{% endif %}

<a href='/album'>Back to All Albums</a></li>